section {
  margin: auto;
  overflow: auto;
  width: 480px;
}
div {
  float: left;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: lightgray;
  border: 1px solid grey;
}
div:nth-child(1) {
  height: 75px;
}
div:nth-child(2) {
  height: 150px;
}
div:nth-child(N+3):nth-child(-n+4) {
  height: 125px;
}
div:nth-child(4) {
  height: 125px;
}
div:nth-child(n+5):nth-child(-n+8) {
  height: 250px;
  width: 50%
}
div:last-child {
  height: 80px;
}
@media( min-width: 960px ) {
  section {
    margin: auto;
    overflow: auto;
    width: 960px;
  }
  div {
    background-color: salmon;
    border: 1px solid red; 
  }
  div:first-child {
    height: 100px;
  }
  div:nth-child(2) {
    width: 200px;
    height: 600px;
  }
  div:nth-child(N+3):nth-child(-n+4) {
    width: 380px;
    height: 200px;
  }
  div:nth-child(n+5):nth-child(-n+8) {
    width: 190px;
    height: 250px;
  }
  div:last-child {
    width: 760px;
    height: 150px;
  }
}